[General]
# Use the Peak Shaving Control type
type = PS

# Cogenerator specific configurations
# Temperature boundaries for a basic default two-point control [°C]
;chp_temp_max = 75
;chp_temp_min = 40

# The reference temperature channel used to decide whether the component needs to run
;chp_temp = tes_h90_temp

# Heat pump specific configurations
# Temperature boundaries for a basic default two-point control [°C]
hp_temp_max = 50
hp_temp_min = 35

# The reference temperature channel used to decide whether the component needs to run
hp_temp = tes_h60_temp

# The reference power channel used to 
power = grid_power

# The power limitation signal, e.g. provided via transparent channel over SMGW
power_limit = grid_power_limit

# An optional scaling of the power channel values, to assure positive values represent 
# imported power and negative values represent exported power in Watts [W]
;power_scale = 1

# Export and import power thresholds in Watts [W]
;import_max = 0
;export_max = <power>
;export_hyst = <power>


[PID]
;proportional = 0.2
;integral = 0.04
;derivative = 0

# The maximum PID control power setpoint value in Watts [W]
;maxinum = <power>
