[General]
	type = MPC

	# The interval in minutes, how often the optimal schedule should be calculated
	;interval = 15

	# The python executable with potential virtual environment to execute.
	python = /usr/bin/python3

	# Th-e-optimization python script path
	script = /opt/th-e-mpc/bin/th-e-mpc

	command = ext/cmd/power
