[Ventilation]
	ventState = RLY450
	
	# Minimum amount of minutes, the ventilation may be switched on [min]
	intervalMin = 30
	
	# Tolerance of fluctuating temperatures in the cabinet [°C]
	cabinetTempTolerance = 0.3
	
	# Maximum temperature allowed in the cabinet [°C]
	cabinetTempMax = 35
	
	cabinetTopTemp = TT500
	cabinetMidTemp = TT510
	cabinetBotTemp = TT520

[Circulation]
	circDeltaTemp = hp_circ_delta_temperature
	circOutTemp = TT100
	circInTemp = TT110
