[General]
# Minimum amount of minutes, the heating may be switched on [min]
runtime_min = 10

# Maximum thermal power to generate [kW]
power_max = 1
power_min = 1

th_energy = hr/energy
th_power = hr/power

el_energy = hr/energy
el_power =  hr/power

state = hr/state
