[General]
# The interval in minutes, how often the thermal power should be calculated
;interval = 15

# The ID of the heating component feeding into the storage
heating_hp = hp
;heating_chp = chp

# Capacity of the thermal energy storage [l]
capacity = 1000

energy = tes_energy
power = tes_power
temp = tes_temp

;temp_h10 = tes_h10_temp
;temp_h30 = tes_h30_temp
;temp_h60 = tes_h60_temp
;temp_h90 = tes_h90_temp
